.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  border: 3px;
  border-color: black;
  border-style: solid;
  height: 45px;
  margin-bottom: 5%;
}

.homepage-hero {
  border: 3px;
  border-color: black;
  border-style: solid;
  min-height: 250px;
  height: 500px;
  width: 75%;
  align-self: center;
  margin-bottom: 5%; 
}

.homepage-info {
  border: 3px;
  border-color: black;
  border-style: solid;
  height: 400px;
  width: 50%;
  align-self: center;
  margin-bottom: 10%;
}

@media (max-width: 800px) {
  .homepage-hero {
    border: 3px;
    border-color: black;
    border-style: solid;
    height: 200px;
    width: 85%;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 10%;
  }

  .homepage-info {
    border: 3px;
    border-color: black;
    border-style: solid;
    height: 150px;
    width: 50%;
    align-self: center;
    margin-top: 10%;
  }
  
}
