.App {
  background-color: black;
  opacity: .8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
  border-bottom: 3px;
  border-bottom-color: black;
  border-bottom-style: solid;
  height: 55px;
  position: fixed;
  top: 0;
  width: 100%;
  /* margin-bottom: 20%; */
}

.tims-logo {
  height: 55px;
  width: 63px;
}

.tims-logo img {
  height: 47px;
  width: 55px;
  margin-left: 8px;
}

.navbar-title {
  font-family: sans-serif;
  font-style: italic;
  font-family: cursive;
  height: 55px;
  margin-top: 10px;
  margin-left: 25%;
  color: green;
}

.navbar-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 3px;
  /* align-self: flex-end; */
  cursor: pointer;
  width: auto;
  height: auto;
  font-family: cursive;
  /* margin-left: 1px; */
}

.navbar-link {
  display: flex;
  flex-direction: row;
  /* align-self: flex-end; */
  text-decoration: none;
  color: green;
  height: 50px;
}

.mobile-menu {
  display: flex;
  justify-content: flex-end;
  height: 55px;
  width: 30%;
  /* margin-left: 8px; */
  margin-right: 5px;
  /* align-self: center; */
}

.mobile-menu img {
  height: 55px;
  width: 55px;
}

/* .mobile-menu .drop-menu {
  
  background-color: floralwhite;
  width: 80px;
} */

.drop-menu1 {
  display: none;
}

.drop-menu2 {
  display: flex;
  background-color: floralwhite;
  width: 80px;
  flex-direction: column;
  justify-content: flex-start;
  border: 3px solid black;
  margin-left: -35px;
  margin-top: 5px;
  padding: 15px;
}

.drop-menu2 li{
  list-style: none;
}

.homepage-hero {
  margin-top: 5%;
  height: 40%;
  width: 100%;
}

.homepage-hero img{
  border: 3px;
  border-color: black;
  border-style: solid;
  min-height: 250px;
  height: 40%;
  width: 100%;
  align-self: center;
  margin-bottom: 5%;
}

.homepage-hero h2 {
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  font-style: italic;
  font-family: cursive;
  margin-top: 0%;
  margin-bottom: 0%; 
}

#center-me {
  text-align: center;
}
.homepage-info {
  color: white;
  font-size: 24px;
  height: 400px;
  width: 75%;
  text-align: left;
  align-self: center;
  margin-bottom: 10%;
}

.contact {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 5%;
  
}

.dashboard-main {
  display: flex;
  border: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  height: 100%;
  width: 90%;
  align-self: center;
  margin-bottom: 50px;
  margin-top: 100px;
  flex-direction: row;
  color: white;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  height: 625px;
  width: 40%;
  margin-left: 1%;
  opacity: .5;
}

.dashboard-left-components {
  border: 3px solid yellow;
  height: 50%;
  width: 90%;
  align-self: center;
}

.dashboard-left-components-empty {
  border: 3px solid yellow;
  height: 50%;
  width: 90%;
  align-self: center;
}

.dashboard-left-components form{
  margin-bottom: 5%;
}

.list-product-name {
  display: flex;
  flex-direction: column;
}

.list-product-price {
  display: flex;
  flex-direction: column;
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

.list-list {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-left-list {
  display: flex;
  flex-direction: column;
}

.dashboard-left-list li {
  list-style: none;
  margin-bottom: 2px;
}

.dashboard-left-list label {
  margin-bottom: 5px;
}

.dashboard-right {
  align-self: center;
  border: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  height: 625px;
  width: 60%;
  margin-left: 5%;
  margin-right: 1%;
  opacity: .5;
}

.dashboard-inventory {
  align-self: center;
  border: 3px;
  border-color: yellow;
  border-style: solid;
  border-radius: 5px;
  height: 200px;
  margin-top: 3px;
}

.dashboard-red-items {
  align-self: center;
  border: 3px;
  border-color: yellow;
  border-style: solid;
  border-radius: 5px;
  height: 200px;
}

.dashboard-items-in-hand {
  align-self: center;
  border: 3px;
  border-color: yellow;
  border-style: solid;
  border-radius: 5px;
  height: 200px;
}

.inventory-table {
  border: 1px solid black;
  width: 100%;
  height: auto;
}
.inventory-table th, td {
  border: 1px solid black;
}

.inventory-table th {
  background-color: green;
}

.red-items-table {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.red-items-table th, td{
  border: 1px solid black;
}

.red-items-table th {
  background-color: rgb(189, 39, 39);
}

.item-in-hand-table {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.item-in-hand-table th, td {
  border: 1px solid black;
}

.item-in-hand-table th {
  background-color: rgb(141, 128, 13);
}

.search-list-table {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.search-list-table th, td{
  border: 1px solid black;
}

.search-list-table th {
  background-color: green;
}

.shopping-list-table {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.shopping-list-table th {
  background-color: green;
}

.shopping-list-table th {
  background-color: rgb(141, 128, 13);
}

.product {
  width: 50%;
}

.weight {
  width: 25%;
}

.no-items {
  display: flex;
  height: 200px;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
}

.no-items p{
  align-self: center;
}

.table-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25%;
}

.add-delete-sign img{
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.login-signup {
  border: 1px solid black;
  width: 30%;
  height: auto;
  align-self: center;
  background-color: white;
  padding-bottom: 5%;
}

.login-signup h1 {
  margin-top: 10%;
}

.login-form {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 5%;
}

.login-form label{
  margin-bottom: 5%;
}

.login-form input {
  margin-left: 14px;
}

.login-form #password {
  margin-left: 16px;
}

#loginText {
  color: red;
  font-size: 10px;
}

.any-button {
  cursor: pointer;
}

.scrollable {
  overflow-y:auto
}

.footer {
  color: white;
  font-family: sans-serif;
  font-style: italic;
  font-family: cursive;
}

@media (max-width: 835px) {
  .homepage-hero {
    margin-top: 15%;
    height: 500px;
    width: 100%;
    
  }
  .homepage-hero img{
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 80%;
    width: 100%;
    align-self: center;
    margin-bottom: 5%;
    
  }

  #contact-button {
    margin-left: 50%;
  }

  .homepage-info {
    border: 3px;
    border-color: black;
    border-style: solid;
    height: 150px;
    width: 50%;
    align-self: center;
    margin-top: 10%;
  }

  .navbar-button-dashboard-link {
    margin-top: -20%;
  }

  .navbar-title {
    font-size: 20px;
  }
  
}
